.introTextContainer {
  margin: 2em 0.5em;
  display: flex;
  align-items: left;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2em;
  font-weight: 500;
}

/* .introImageContainer {
  margin: 10;
  justify-content: center;
  align-items: center;
  display: flex;
} */

.countryContainer {
  margin-top: 1em;
}
.countryImg {
  padding: 10px;
  height: 50px;
  width: 65px;
}
.profileImg {
  height: 18em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.resumeButton {
  margin-top: 1em;
  padding-top:0.2em ;
}
